.gold-mined {
    color: rgb(244, 146, 30);
  }

  body { /* no . means element type */
    text-align: center; /* text-align centers text AND children */
  }
  
  * { /* * applies to all elements, use with caution */
    outline: none;
  }

  body {
    background-color: rgb(34, 34, 34);
    background-image: url("https://forum.newdawn.fun/uploads/default/original/1X/68229c81258c4fe5576141fd8eb4fbc59778d1de.svg");
   }